@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Righteous&family=Sarala&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
#cabecalho {
    background-color: black;
    color: white;
    text-align: center;
}
#titulo_principal {
    padding-top: 7vh;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 8em;
    letter-spacing: 2px;
    font-family: 'Passion One', cursive;
}
#subtitulo {
    padding-top: 1.5vh;
    padding-bottom: 5vh;
    font-weight: 100;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link {
    font-weight: 600;
    color: white;
    transition-duration: 0.7s;
    
}
.link:hover {
    padding: 5px;
    text-decoration: underline;
    transition-duration: 0.4s;
}
.paragrafros {
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 6vh;
    font-family: 'Sriracha', cursive;
    font-size: 45px;
    line-height: 2em;
}
#img-01 {
    background-image: url(imagens/background001.jpg);
}
.img {
    width: 100%;
    height: 100vh;
    
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
.background {
    color: white;
    display: inline-block;
    padding: 1vh;
    margin-left: 5vh;
    margin-top: 5vh;
    font-family: 'Sriracha', cursive;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.464);
}
#img-02 {
    background-image: url(imagens/background002.jpg);
}
#p-cartas {
    text-shadow: 10px 10px 4px 3px solid black;
}
.rodape {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}